<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.idstudent }}</td>
        <td>{{ student.typerol }}</td>
        <td>{{ student.identification }}</td>
        <td>{{ student.names }}</td>
        <td>{{ student.lastnames }}</td>
        <td>{{ student.email }}</td>
        <td>
          <a href="#">Editar</a>
  
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  