{% extends "base.html" %}
{% load static %}
{% block body %}


<style>
    .content-wrapper {
        padding: 20px; /* Agregar un espacio de 20px en todos los lados del contenido */
    }

    .card-datatable {
        margin-top: 20px; /* Agregar espacio en la parte superior de la tabla */
    }

    .text-center-with-space {
        margin-top: 60px; /* Agregar espacio en la parte delantera del texto centrado */
    }

    /* Estilos adicionales para el botón de "Crear profesor" si es necesario */
</style>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Otros scripts y estilos -->
  </head>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        <h2 class="text-center text-center-with-space">Usuarios Creados</h2>

        <a href="{% url 'create_teachers' %}" type="button" class="btn btn-xs btn-info">
            Crear un nuevo usuario
        </a>

       
        <div class="card-datatable table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th>Id</th>
                        <th>Rol</th>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.idteacher }}</td>
                        <td>{{ teacher.typerol }}</td>
                        <td>{{ teacher.identification }}</td>
                        <td>{{ teacher.names }}</td>
                        <td>{{ teacher.lastnames }}</td>
                        <td>{{ teacher.email }}</td>
                        <td>
                            <a href="{% url 'teachers_edit' teacher.idteacher %}">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
