<style>
  body {
      margin: 20px;
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
  }

  .navbar {
      background-color: #1976D2;
      color: #fff;
      padding: 10px;
      margin-bottom: 20px;
  }

  .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .navbar li {
      display: inline-block;
      margin-right: 20px;
  }

  .navbar a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
  }

  .navbar a:hover {
      color: #BBDEFB;
  }

  .table-container {
      margin-top: 20px;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  table thead {
      background-color: #f1f1f1;
  }

  table th,
  table td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }

  table th {
      color: #333;
  }

  table td {
      color: #666;
  }

  table a {
      color: #66bb6a;
      text-decoration: none;
  }

  table a:hover {
      color: #4caf50;
  }
</style>

<div class="navbar">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="{% url 'rol' %}">Rol</a></li>
    <li><a href="{% url 'teacher' %}">Profesores</a></li>
    <li><a href="{% url 'student' %}">Estudiantes</a></li>
  </ul>
</div>

<a href="{% url 'create_teachers'  %}">Crear</a>


<div class="table-container">
  <table>
      <thead>
          <tr>
              <th>Id</th>
              <th>Rol</th>
              <th>Identificación</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          {% for teacher in teachers %}
          <tr>
              <td>{{ teacher.idteacher }}</td>
              <td>{{ teacher.typerol }}</td>
              <td>{{ teacher.identification }}</td>
              <td>{{ teacher.names }}</td>
              <td>{{ teacher.lastnames }}</td>
              <td>{{ teacher.email }}</td>
              <td>
                  <a href="{% url 'teachers_edit' teacher.idteacher %}">Editar</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
